// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.big-head {

  text-align: center !important;

}

.content {
  color: black !important;
}

a {
  text-decoration: none !important;
}